.links-container{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.header-container{
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: center;
    margin: auto;
    margin-top: 3vh;
}

.profile-img{
    float: left;
    background-color: black;
    width: 125px;
    height: 200px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 3vh;
}

.link{
    flex-basis: 25vw;
    flex-grow: 1;
    text-align: center;
}

.header-line{
    display: flex;
    width: 100%;
    border-top: 1px solid black;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.placeholder-text{
    margin-left: 4vw;
    margin-right: 4vw;
}